.hobby {
  text-align: center;
  list-style-type: none;
}

.hobby:first-child {
  margin-top: 2rem;
}

.customerService {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

.mainService {
  display: flex;
  margin-top: 5rem;
}

.counter {
  margin-top: 5rem;
  text-align: center;
}
